<html>
  <head>
    <title>The Gossip Project by PIERROOOOOW</title>
  </head>
  <body>
    <h1>Mon super site de gossip, depuis le dossier views ! </h1>


    <p> Pour le moment la liste est vide, et cela bientot arriver ! </p>
    <p> En attendant, tu peux creer un nouveau potin en cliquant <a href="/gossips/new/">ici</a>

  </body>
</ht>

